<a href="https://colab.research.google.com/github/sylwiacloud/MSc/blob/main/COMP4008_exercise_sheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week 1 Part 1: Preliminary Exercises on Lists and Variables**

Here are some introductory exercises on lists and variables.

To complete each task, you should fill in the code block that begin with a # symbol, replacing the text that is there with your code. Once you have completed the code, either click the "play" symbol to the left of the block, or press shift-return on your keyboard. If there is output from that piece of code, it will then display in a new block underneath the code.

The tasks use similar ideas to those demonstrated at the beginning of the class, so think back to that if you need ideas and inspiration. The code and slides from that introductory part of the class are available on Moodle.

The following block creates a list of three names

In [1]:
listOfNames = ["Kermit the Frog", "Fozzie Bear", "Beaker", "Animal"]

In the next block, write two lines of code, to append the name "Miss Piggy" to the list, then to display the list

In [2]:
listOfNames.append("Miss Piggy")
listOfNames

['Kermit the Frog', 'Fozzie Bear', 'Beaker', 'Animal', 'Miss Piggy']

The next block contains a definition, *addStudent*, of a function that takes the name of a list, a piece of text containing the student's name, and a number that is their mark in their Maths module, and adds a new item to the list containing those three pieces of information. You do not have to do anything to the code in the next block.

In [3]:
def addStudent(listOfStudents, studentName, maths):
  listOfStudents.append([studentName,maths])

In the next block, make a copy of *addStudent* from above and modify it so that in addition to the student's name and maths mark, it also records the student's hall of residence (a string of text), and numbers that represent the student's marks in English and in Programming.

In [4]:
def addStudent(listOfStudents, studentName, halls, maths, english, programming):
  listOfStudents.append([studentName, halls, maths, english, programming])

In the next block, write five lines of code that (1) creates an empty list called *studentRecords* and (2) uses the newly defined *addStudent* function to add the following students to *studentRecords*.

| Name              | Residence          | Maths | English | Programming |
|-------------------|--------------------|-------|---------|-------------|
| Kermit the Frog   | Sherwood Hall      | 65    | 78      | 52          |
| Fozzie Bear       | Newark Hall        | 48    | 45      | 42          |
| Animal            | Sherwood Hall      | 35    | 68      | 48          |
| Miss Piggy        | Melton Hall        | 78    | 75      | 85          |

In [15]:
studentRecords = []
addStudent(studentRecords, "Kermit the Frog", "Sherwood Hall", 65, 78, 52)
addStudent(studentRecords, "Fozzie Bear", "Newark Hall", 45, 45, 42)
addStudent(studentRecords, "Animal", "Sherwood Hall", 35, 68, 48)
addStudent(studentRecords, "Miss Piggy", "Melton Hall", 78, 75, 85)

In the next block, write a line of code that lists just the students who have a mark of 50 or over in Maths

In [21]:
for student in studentRecords:
  if student[2] > 50:
    print(student[0])

['Kermit the Frog', 'Sherwood Hall', 65, 78, 52]
Kermit the Frog
['Fozzie Bear', 'Newark Hall', 45, 45, 42]
['Animal', 'Sherwood Hall', 35, 68, 48]
['Miss Piggy', 'Melton Hall', 78, 75, 85]
Miss Piggy

In [80]:
[ print(student[0]) for student in studentRecords if student[2] > 50 ]

Kermit the Frog
Miss Piggy
Kermit the Frog
Jeremy
Test1
Test1
Test1
TestN

[None, None, None, None, None, None, None, None]

In the next block, write a line of code that lists all the students who have a mark under 50 in all of Maths, English and Programming.

In [24]:
for record in studentRecords:
  student = record[0]
  maths = record[2]
  english = record[3]
  programming = record[4]
  if maths < 50 and english < 50 and programming < 50:
    print(student)

Fozzie Bear

**Week 1 Part 2: More Exercises about Decision Making**

Here are some more tasks that use the "if" statement to enable the computer to make decisions.

The code in the next block prints "winner" if the score is greater than 50. Modify it so that it prints "winner" if the score is greater than 60.

In [26]:
def winner(score):
  if score>60:
    print("winner")
  else:
    print("loser")

The next block uses the *winner* function with various different inputs so that you can check if it is working correctly. There is no need to modify the next block.

In [27]:
print("should say loser"); winner(20);
print("should say loser"); winner(52);
print("should say loser"); winner(50);
print("should say winner"); winner(62);
print("should say loser"); winner(60)

should say loser
loser
should say loser
loser
should say loser
loser
should say winner
winner
should say loser
loser

In the next block, define a function *passed* that takes in a student's mark, and prints "pass" if the mark is greater than or equal to 50, otherwise prints "fail".

In [29]:
def hasPassed(mark):
  if mark >= 50:
    print("pass")
  else:
    print("fail")

In the next block, write a few lines that use the function passed with some different inputs (e.g. 43, 67, 50) and check that you get the expected outputs

In [30]:
hasPassed(43)
hasPassed(67)
hasPassed(50)

fail
pass
pass

Write a function passedBoth that inputs two marks, and prints "pass" if both marks are greater than or equal to 50, otherwise prints "fail". The most concise way to do involves using the word and (see the summary slides for details of how this works).

In [31]:
def passedBoth(mark1, mark2):
  if mark1 >=50 and mark2 >= 50:
    print("pass")
  else:
    print("fail")

In the next block, write some examples of using that function with different inputs to check whether it works.

In [32]:
passedBoth(60,70)
passedBoth(55,47)
passedBoth(34,46)

pass
fail
fail

The next block prints the text "University Park", "Jubilee" or "Sutton Bonington" based on the name of the student residence given as input. Note the use of elif (short for "else if") to create three different conditions. Modify the code so that it also checks for the word "Nottingham Two" and replies with "Jubilee". Modify it so that it says "not known" if hallName doesn't match any of the names.

In [33]:
def findHallLocation(hallName):
  if hallName=="Sherwood" or hallName=="Melton" or hallName=="Nottingham Two":
    print("Jubilee")
  elif hallName=="Nightingale" or hallName=="Lenton" or hallName=="Ancaster":
    print("University Park")
  elif hallName=="Bonington Village":
    print("Sutton Bonington")
  else:
    print("not known")

In the next block, write some examples of using that function with different inputs to check whether it works.

In [34]:
findHallLocation("Sherwood")
findHallLocation("Nottingham Two")
findHallLocation("Lenton")
findHallLocation("Derby")

Jubilee
Jubilee
University Park
not known

A person is eligible for a main award if they get a score of over 80. Otherwise, if they have a score of over 70 and are under 18, they are eligible for a young person's award. Otherwise, they get no award. In the next block, define a function passed that inputs the score, and prints the correct award. Hint: you may find the elif: command useful - see the reference material to see how this works.

In [35]:
def whatAward(age, score):
  if score >= 80:
    print("Main award")
  elif score >= 70 and age < 18:
    print("young person's award")
  else:
    print("No award :(")

In the next block, write some examples of using that function with different inputs to check whether it works.

In [36]:
whatAward(25, 95)
whatAward(23, 72)
whatAward(17, 56)
whatAward(16, 73)

Main award
No award :(
No award :(
young person's award

In the next block, write a definition *NPCDecision* that takes in three pieces of information: numbers called *distance* and *health*, and a string of text called *threat*.

* if distance is close (under 20) and health is good (50 or over) or the threat is severe, the function outputs (using the *return* statement) the text "attack"
* of distance is fairly close (under 30) and health is low (under 20), the function outputs (using the *return* statement) the text "retreat"
* otherwise, the function outputs (using the *return* statement) the text "stay put"

You will need to use a combination of *and* and *or* in your definition.

In [37]:
def NPCDecision(distance, health, threat):
  if ( distance < 20 and health >= 50 ) or threat == "Severe":
    return "attack"
  elif distance < 30 and health < 20:
    return "retreat"
  else:
    return "stay put"

In the next block, write some examples of using that function with different inputs to check whether it works. You will need to use *print* to access the output produced by the *return*: e.g. print(NPCDecision(10,80,"moderate"))

In [39]:
print(NPCDecision(50, 50, "None"))
print(NPCDecision(10, 30, "None"))
print(NPCDecision(100,100, "Severe"))
print(NPCDecision(20,15,"None"))

stay put
stay put
attack
retreat

Write a definition *permittedToEnter* that takes a number that is a person's age, and a text string *status*. It prints "entry permitted" if the person is over 18, and their *status* is not banned. You will need to use the Python keyword *not* or the *!=* (not equal to) symbol.

In [42]:
def permittedToEnter(age, status = "allowed"):
  if age >= 18 and status != "banned":
    print("entry permitted")
  else:
    print("entry denied")

In [44]:
permittedToEnter(30)
permittedToEnter(18)
permittedToEnter(30, "banned")

entry permitted
entry permitted
entry denied

(more complicated) For example, you must be under 21 to be eligible to get a youth prize (a certificate or medal) in the sports competition. If you win 10 or more games, you get a medal, otherwise you get a certificate. Write a definition that decides who gets one of these youth awards, and some code to test it.

In [45]:
def youthAward(age, gamesWon):
  if age < 21:
    if gamesWon >= 10:
      print("Youth medal")
    else:
      print("Youth certificate")
  else:
    if gamesWon >= 10:
      print("Adult medal")
    else:
      print("Adult certificate")

In [46]:
youthAward(30,15)
youthAward(18, 5)
youthAward(45, 8)
youthAward(12, 30)

Adult medal
Youth certificate
Adult certificate
Youth medal

**Week 1 Part 3: Additional Tasks**

If you have completed the above tasks, here are some additional tasks for you to do, based on the exercises in Part 1 above, in order to extend your knowledge and practice more.

In the next block, write a line of code that lists all the students who have a mark under 50 in one or more of Maths, English and Programming. You will need to use the word *or* where you used *and* in the previous block.

In [47]:
for record in studentRecords:
  student = record[0]
  maths = record[2]
  english = record[3]
  programming = record[4]
  if maths < 50 or english < 50 or programming < 50:
    print(student)

Fozzie Bear
Animal

In the next block, write a new version of *addStudent* that checks (1) if any of the marks are below 0 or over 100, and (2) that the residence is one of "Sherwood Hall", "Newark Hall", or "Melton Hall". If any of these conditions are not satisfied, print an error message and don't add the student to the list.

In [64]:
def addStudent(listOfStudents, studentName, halls, maths, english, programming):
  listOfMarks = []
  listOfMarks.extend([maths, english, programming])
  markStatus = "Ok"
  for mark in listOfMarks:
    if markStatus == "Error":
      markStatus == "Error"
    elif mark < 0 or mark > 100:
      markStatus = "Error"
  if markStatus != "Ok":
    print("There has been an input error. Marks not between 0 and 100.")
  elif (halls not in ["Sherwood Hall", "Newark Hall", "Melton Hall"]):
    print("There has been an input error. Check the halls.")
  else:
    listOfStudents.append([studentName, halls, maths, english, programming])

In the next block, write code that uses *addStudent* to create a number of examples that tests whether the new version of *addStudent* is working - that is, you should provide a variety of examples, including examples that satisfy the checks, ones with marks below 0 and/or above 100, ones with multiple marks below/above 0/100, ones with a different/mis-spelled residence name, ones where students have scored exactly 0 or 100 (these are called "edge cases").

In [57]:
addStudent(studentRecords, "Kermit the Frog", "Sherwood Hall", 65, 78, 52)

In [59]:
addStudent(studentRecords, "Sesame Bun", "Newark Hall", 0, 5, 10)

In [60]:
addStudent(studentRecords, "Jeremy", "Melton Hall", 100, 67, 80)

In [61]:
addStudent(studentRecords, "Arnold", "Sherwood", 65, 78, 52)

There has been an input error. Check marks and halls.

In [62]:
studentRecords

[['Kermit the Frog', 'Sherwood Hall', 65, 78, 52],
 ['Fozzie Bear', 'Newark Hall', 45, 45, 42],
 ['Animal', 'Sherwood Hall', 35, 68, 48],
 ['Miss Piggy', 'Melton Hall', 78, 75, 85],
 ['Kermit the Frog', 'Sherwood Hall', 65, 78, 52],
 ['Sesame Bun', 'Newark Hall', 0, 5, 10],
 ['Jeremy', 'Melton Hall', 100, 67, 80]]

In [65]:
addStudent(studentRecords, "Arnold", "Sherwood Hall", 65, 78, 152)

There has been an input error. Marks not between 0 and 100.

(difficult) In the next block, write code that displays each student and the average of their marks across the three modules

In [66]:
import numpy as np

In [69]:
for record in studentRecords:
  student = record[0]
  maths = record[2]
  english = record[3]
  programming = record[4]
  listOfMarks = []
  listOfMarks.extend([maths, english, programming])
  averageMark = np.round(np.mean(listOfMarks), 1)
  print(f"{student} has received an average mark of {averageMark} across the maths, english and programming modules.")

Kermit the Frog has received an average mark of 65.0 across the maths, english and programming modules.
Fozzie Bear has received an average mark of 44.0 across the maths, english and programming modules.
Animal has received an average mark of 50.3 across the maths, english and programming modules.
Miss Piggy has received an average mark of 79.3 across the maths, english and programming modules.
Kermit the Frog has received an average mark of 65.0 across the maths, english and programming modules.
Sesame Bun has received an average mark of 5.0 across the maths, english and programming modules.
Jeremy has received an average mark of 82.3 across the maths, english and programming modules.

(complicated and long) rewrite *addStudent* so that it works with students taking an arbitrary number of modules, not just the three. Also rewrite the averaging method from the previous block so that it works with this version.

In [76]:
def addStudent(listOfStudents, studentName, halls, *marks):
  listOfMarks = []
  for mark in marks:
    listOfMarks.append(mark)
  markStatus = "Ok"
  for mark in listOfMarks:
    if markStatus == "Error":
      markStatus == "Error"
    elif mark < 0 or mark > 100:
      markStatus = "Error"
  if markStatus != "Ok":
    print("There has been an input error. Marks not between 0 and 100.")
  elif (halls not in ["Sherwood Hall", "Newark Hall", "Melton Hall"]):
    print("There has been an input error. Check the halls.")
  else:
    listOfStudents.append([studentName, halls, *marks])

In [75]:
addStudent(studentRecords, "TestN", "Sherwood Hall", 99, 40, 32, 78, 67)
studentRecords

[['Kermit the Frog', 'Sherwood Hall', 65, 78, 52],
 ['Fozzie Bear', 'Newark Hall', 45, 45, 42],
 ['Animal', 'Sherwood Hall', 35, 68, 48],
 ['Miss Piggy', 'Melton Hall', 78, 75, 85],
 ['Kermit the Frog', 'Sherwood Hall', 65, 78, 52],
 ['Sesame Bun', 'Newark Hall', 0, 5, 10],
 ['Jeremy', 'Melton Hall', 100, 67, 80],
 ['Test1', 'Sherwood Hall', 100, 67, 80],
 ['Test1', 'Sherwood Hall', 100, 67, 80],
 ['Test1', 'Sherwood Hall', 99, 40],
 ['TestN', 'Sherwood Hall', 99, 40, 32, 78, 67]]

In [78]:
for record in studentRecords:
  student = record[0]
  marks = record[2:]
  listOfMarks = []
  listOfMarks.extend(marks)
  averageMark = np.round(np.mean(listOfMarks), 1)
  print(f"{student} has received an average mark of {averageMark} across all modules.")

Kermit the Frog has received an average mark of 65.0 across all modules.
Fozzie Bear has received an average mark of 44.0 across all modules.
Animal has received an average mark of 50.3 across all modules.
Miss Piggy has received an average mark of 79.3 across all modules.
Kermit the Frog has received an average mark of 65.0 across all modules.
Sesame Bun has received an average mark of 5.0 across all modules.
Jeremy has received an average mark of 82.3 across all modules.
Test1 has received an average mark of 82.3 across all modules.
Test1 has received an average mark of 82.3 across all modules.
Test1 has received an average mark of 69.5 across all modules.
TestN has received an average mark of 63.2 across all modules.